.selectMarksContainer {
  /* background-color: #f5f5f5; */
  width: 850px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  background-color: #343a40;
}

.selectMarks {
  width: 18% !important;
  height: 30px;
  line-height: 30px;
  padding: 0px;
}

.btn-marks {
  height: 30px;
  padding: 0 10px;
}
